*{
    padding: 0%;
    margin: 0%;
}

body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    height: 800px;
}

#card{
    width: 300px;
    background-color: hsl(0, 0%, 100%);
    padding: 15px;
    border-radius: 1rem;
    height: 500px;
}

#img{
    width: 300px;
    border-radius: 5%;
}

#title{
    font-size: 20px;
    font-family: "Outfit", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    color: hsl(218, 44%, 22%);
}

#bottomtext{
    text-align: center;
    color: hsl(220, 15%, 55%);
    padding: 10px;
    line-height: 1.5;
    font-size: 17px;
}

